.chart-container {
    position: relative;
    width: 140px;
    height: 140px;
  }
  
  .chart-container canvas {
    width: 100% !important;
    height: 100% !important;
  }
  
  .chart-container .chart-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    color: #183A56;
  }


  .PrimaryBg{
    background-color: #4d9fb2;
  }
  
  .SecondaryBg{
    background-color:  #edeeee;
  }
  
  .TertiaryBg{
    background-color: #eff0ef;
  }
  